package {{.apiPackageName}}

import (
	"net/http"

	"{{.modelFQPN}}"
    "{{.daoFQPN}}"

	"github.com/gin-gonic/gin"
	{{if .UseGuregu}} "github.com/guregu/null" {{end}}
	"github.com/julienschmidt/httprouter"
)

{{if .UseGuregu}}
var (
    _ = null.Bool{}
)
{{end}}

func config{{.StructName}}Router(router *httprouter.Router) {
	router.GET("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}", GetAll{{.StructName}})
	router.POST("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}", Add{{.StructName}})
	router.GET("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Get{{.StructName}})
	router.PUT("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Update{{.StructName}})
	router.DELETE("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Delete{{.StructName}})
}

func configGin{{.StructName}}Router(router gin.IRoutes) {
	router.GET("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}", ConverHttprouterToGin(GetAll{{.StructName}}))
	router.POST("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}", ConverHttprouterToGin(Add{{.StructName}}))
	router.GET("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Get{{.StructName}}))
	router.PUT("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Update{{.StructName}}))
	router.DELETE("/{{.StructName | toLower}}{{ if eq .Sharding.Table .TableName }}/:argKfuin{{end}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Delete{{.StructName}}))
}

{{template "api_getall.go.tmpl" .}}
{{template "api_get.go.tmpl" .}}
{{template "api_add.go.tmpl" .}}
{{template "api_update.go.tmpl" .}}
{{template "api_delete.go.tmpl" .}}
